.service__card{
  
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url(https://images.pexels.com/photos/459037/pexels-photo-459037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.service__title{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url(https://images.pexels.com/photos/8533647/pexels-photo-8533647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}